* {
  margin: 0;
}

.container-1 {
  background-color: #1F2937;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.header {
  color: white;
  font-size: 14px;
  margin-left: 150px;
  flex: 1;
}

.navbar {
  color: grey;
  margin-right: 150px;
}

a:link {
  color: blue;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: grey;
  background-color: transparent;
  text-decoration: none;
}

a:active {
  color: white;
  background-color: transparent;
}

.container-2 {
  background-color: #1F2937;
  color: white;
  display: flex;
  padding-top: 100px;
  padding-left: 100px;
}

.button {
  background-color: rgb(59, 94, 247);
  border-color: rgb(59, 94, 247);
}